body {
  background-color: rgb(75, 76, 78);
}

header {
  background-color: rgb(232,	33,	38);
  text-align: center;
  height: 100px;
  box-shadow:
      0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
      0 10px 0 -5px rgb(237, 231, 231), /* The second layer */
      0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
}

header img {
  width: 200px;
  margin: -7px 7px;
}

nav {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border: 3px solid black;

}

.results {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border: 3px solid black;
  height: 350px;

  img {
    width: 200px;
    height: auto;
    float:left;
    margin: 10px;
    border: 1px solid black;
  }
}

.details {
  float: left;
  margin: 10px;
  border: 1px solid black;

}
