h1 {
  font-family: Impact;
  color: white;
  font-weight: normal;
  font-size: 3.5em;
  display: inline-block;
  margin: 15px;
  // border: 1px solid white;
  height: auto;
  // position: absolute;
}
