select {
  font-weight: normal;
  font-size: 1.5em;
  padding: 15px 20px;
  margin: 0 5px;
  border: 1px solid black;
  font-family: 'Bangers';
  background-color: white;
}

#submit-search {
  margin: 0 10px;
  padding: 5px;
  color: white;
  background: $marvelRed;
  display: inline-block;
  border: 2px solid black;
  font-weight: lighter;
  font-size: 1.5em;
  font-family: 'Bangers'
}

#fake-search-button {
  margin: 0 10px;
  padding: 5px;
  color: white;
  background: $marvelRed;
  display: inline-block;
  border: 2px solid black;
  font-weight: lighter;
  font-size: 1.5em;
  font-family: 'Bangers';
  text-decoration: none;
}

.label {
  cursor: pointer;
}
